<suite reruntimes="0" thread-count="1" parallel="tests" verbose="10" name="同策集团接口测试自动化回归" annotations="JDK" time-out="1800000">
    <!--Login-->
    <test name="登陆获取信息接口_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Login.In"/>
        </classes>
    </test>
    <test name="统计登陆数据_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Login.UpdateLoginStatics"/>
        </classes>
    </test>
    <!--user-->
    <test name="重新绑定获取验证码_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.GetVerifyCode"/>
        </classes>
    </test>
    <test name="更新密码_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.UpdatePwd"/>
        </classes>
    </test>
    <test name="修改绑定手机_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.UpdateBindMob"/>
        </classes>
    </test>
    <test name="获取城市列表数据_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.GetCityList"/>
        </classes>
    </test>
    <test name="取消关注医院_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.CancleAtt"/>
        </classes>
    </test>
    <test name="首页关注医院_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.AttEnt"/>
        </classes>
    </test>
    <test name="修改用户个人信息_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.User.EditPersonal"/>
        </classes>
    </test>
    <!--Index-->
    <test name="临时关闭功能列表_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Index.CloseFeatureList"/>
        </classes>
    </test>
    <test name="首页获取医院信息_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Index.NewIndex"/>
        </classes>
    </test>
    <test name="性能开关_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Index.Switch"/>
        </classes>
    </test>
    <test name="用户个人信息_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Index.Person"/>
        </classes>
    </test>

    <!--address-->
    <test name="获取通讯录信息_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Address.Lists"/>
        </classes>
    </test>
    <!--iosPush-->
    <test name="绑定用户_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.IosPush.Bind"/>
        </classes>
    </test>
    <test name="解绑用户_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.IosPush.Unbind"/>
        </classes>
    </test>
    <test name="应用消息数量更新_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.IosPush.UpdateIcon"/>
        </classes>
    </test>
    <test name="ios推送消息_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.IosPush.Push"/>
        </classes>
    </test>
    <!--IntegralRecord-->
    <!--crashCoupons-->

    <!--gchat-->
    <test name="创建群聊_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Gchat.Create"/>
        </classes>
    </test>
    <test name="群聊中添加群成员_赵炎骥" junit="false" annotations="JDK">
        <classes>
            <class name="tc.testcase.Gchat.InMember"/>
        </classes>
    </test>
    <!--杭口城西医院模块操作_调用接口测试-->

</suite>